* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(142, 142, 214);
}
a:hover,
a:focus {
  text-decoration: underline;
}

a.no-style {
  text-decoration: none;
  color: inherit;
}

ul ul {
  margin: 0;
}

/* LAYOUT CSS */
#layout {
  padding-left: 350px; /* "left col (nav + list)" width */
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 350px;
  margin-left: -350px;
  background: #000;
  color: #0f0;
  padding-bottom: 14px;
}

  .sidebar code pre {
    font-size: 11px;
  }

.cmd-info {
  color: #6BC4C6;
}

.cmd-prompt {
  color: #D371E2;
}

.header {
  margin: 50% 2em 0;
  text-align: right;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(142, 142, 214);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 3px solid rgb(103, 103, 180);
  color: #fff;
  margin-top: 1em;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 3px solid rgb(142, 142, 214);
  color: rgb(142, 142, 214);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 3em 0;
}

.post-list {
  width: 640px;
}
.post {
  margin-bottom: 3em;
}
.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
  margin-top: 0;
}
  .post-title a {
    color: #222;
  }

.post-blurb {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  margin-top: 8px;
}

.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}

.post header {
  margin-bottom: 26px;
}
.post-list header {
  margin-bottom: 8px;;
}


h2 {
  clear: both;
}

.pull-left {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.pull-left img {
  width: 150px;
}

.block {
  display: block;
}

.logo {
  margin: 48px 0;
}

.notice {
  font-style: italic;
}

.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}
  .post-meta .emphasis {
    font-weight: bold;
  }
  
  .post p {
    line-height: 1.2em;
  }
  
  .post code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
    font-size: 13px;
  }
  
  .highlight pre {
    counter-reset: linenumbers;
  }

  .code-line {
    min-height: 1em;
  }
 
  .highlight pre .code-line:before {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    color: #666;
    content: counter(linenumbers);
    counter-increment: linenumbers;
    text-align: right;
    width: 18px;
    height: 1em;
    margin-right: 16px;
    float: left;
    clear: left;
    margin-left: -35px;
    opacity: 0.5;
  }

  .post pre > code {
    display: block;
    margin: 10px 40px;
    padding: 2px 8px;
  }

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
}
  .post-category-design {
    background: #5aba59;
  }
  .post-category-pure {
    background: #4d85d1;
  }
  .post-category-yui {
    background: #8156a7;
  }
  .post-category-js {
    background: #df2d4f;
  }

.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  text-align: center;
  padding: 1em 0;
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

.figure {
  text-align: center;
}

  .figure a {
    margin: 0 auto;
    display: inline-block;
  }

.gist {
  margin: 0 60px;
  font-size: 14px;
  line-height: 14px;
}

.sidenote {
  float: right;
  width: 325px;
  margin: 0 0 0 12px;
  padding: 8px;
}

@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    min-width: 350px;
    position: relative;
    margin: 0;
  }

  .header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    position: static;
  }

  #layout {
    padding: 0;
  }
  
  .logo {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 2em 1em 0;
  }
}

