---
layout: default
title: MassaLabs
---

<div class="post-list">
  {% for post in site.posts offset: 0 limit: 10 %}
    {% if post.published %}
      <section class="post">
        <header class="post-header">
          <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

          <p class="post-meta">
            By <span class="emphasis">{{ post.author }}</span>
            on <span class="emphasis">{{ post.date | date: "%Y-%m-%d" }}</span>
            in <a class="emphasis" href="/{{ post.categories }}">{{ post.categories }}</a>
          </p>
        </header>

        <div class="post-blurb">
          {{ post.blurb }}
        </div>
      </section>
    {% endif %}
  {% endfor %}
</div>

