<!-- footer start -->

<footer class="site-footer">
  <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa-solid fa-rss"></i> Subscribe!</span></a>
    <div class="inner">
         <section class="copyright">All content copyright <a href="mailto:{{ site.email }}">{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.</section>
    </div>
</footer>

<script src="https://unpkg.com/mermaid@7.1.0/dist/mermaid.js"></script>
<script>
  function getTextWithLineBreaks(element) {
    var elem = document.createElement('textarea');
    elem.innerHTML = element.innerHTML;
    return elem.value;
  }

  mermaid.initialize({
    startOnLoad: false,
    logLevel: 3,
    theme: 'neutral'
  });

  $(function(){
    var counter = 0;
    var elements = document.querySelectorAll(".language-mermaid");

    elements.forEach((element) => {
      var graph = document.createElement('div');
      //graph.id = 'mm-graph-' + counter++;
      
      var insertSvg = function(svgCode, bindFunctions) {
        graph.innerHTML = svgCode;  
      };

      var graphDefinition = getTextWithLineBreaks(element);

      var parent = element.parentElement;
      parent.insertAdjacentElement('beforebegin', graph);
      parent.remove();

      var graph = mermaid.render('mm-graph-' + counter++, graphDefinition, insertSvg);
    });
  });
</script>

<!-- footer end -->
