---
layout: default
---

{% include header.html %}

<header class="blog-header">
    <h1 class="blog-title">About Sean Massa</h1>
    {% include custom-links.html %}
</header>

<main class="content" role="main">

  <article class="post">
    <section class="post-content">
      <p>
        Sean Massa is a(n):
      </p>

      <ul>
        <li>supporter of diversity and inclusion</li>
        <li>enthusiast of organizational structures</li>
        <li>software engineer with a decade of experience spanning .NET, Ruby, front-end javascript, and node.js.</li>
        <li>community organizer of (at different times) Chicago Node.js, Chicago Ember, Geekfest Chicago, hackathons, Groupon's internal engineering community</li>
      </ul>
      <p>
        Feel free to reach out to me about anything, especially if it's about my interests, on Twitter at
        <a href="https://twitter.com/endangeredmassa">@endangeredmassa</a>.
      </p>
    </section>
  </article>

</main>
