<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="programming blog">
  <meta name="author" content="Sean Massa">

  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="MassaLabs RSS" href="http://feeds.feedburner.com/MassaLabs" />
  <title>Massa Labs</title>

  <!-- HTML5 shim -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
  <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
  <script src="/js/shBrushCoffeeScript.js" type="text/javascript"></script>
  <script type="text/javascript">
    var $ = function(selector) {
      return document.querySelectorAll(selector);
    };
    if (document.querySelectorAll && Array.prototype.forEach) {
      $('.highlight pre').forEach(function(pre) {
        var lang = pre.getAttribute("data-lang");
        pre.className = 'brush: ' + lang;
      });
    }
    SyntaxHighlighter.all()
  </script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28089637-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<div class="pure-g-r" id="layout">
  <div class="sidebar pure-u">

<br><br><br>
<a class="no-style" href="/"><code><pre>
  __  __                     _       _
 |  \/  |                   | |     | |
 | \  / | __ _ ___ ___  __ _| | __ _| |__  ___
 | |\/| |/ _` / __/ __|/ _` | |/ _` | '_ \/ __|
 | |  | | (_| \__ \__ \ (_| | | (_| | |_) \__ \
 |_|  |_|\__,_|___/___/\__,_|_|\__,_|_.__/|___/
</pre></code></a>
<br><br><br>

<code>
[massalabs] $ posts<br>
&nbsp;&nbsp;<a href="/">All</a> <a href="/feed.xml">[rss]</a><br>
&nbsp;&nbsp;<a href="/dev">Dev</a> <a href="/feed.dev.xml">[rss]</a><br>
&nbsp;&nbsp;<a href="/games">Games</a> <a href="/feed.games.xml">[rss]</a><br>
<br>
[massalabs] $ links<br>
&nbsp;&nbsp;<a href="http://github.com/endangeredmassa">Github</a><br>
&nbsp;&nbsp;<a href="http://careers.stackoverflow.com/seanmassa">Resume</a><br>
&nbsp;&nbsp;<a href="http://stackoverflow.com/users/106/endangeredmassa">Stack Overflow</a><br>
&nbsp;&nbsp;<a href="http://twitter.com/endangeredmassa">Twitter</a><br>
&nbsp;&nbsp;<a href="mailto:endangeredmassa@gmail.com">Contact</a><br>
</code>

  </div>

  <div class="pure-u-1">
    <div class="content">
      <div class="posts">
        {{ content }}
      </div>

      <footer class="footer">
        <div class="pure-menu pure-menu-horizontal pure-menu-open">
          <p>&copy; Sean Massa 2013</p>
        </div>
      </footer>
    </div>
  </div>

</div>

</body>
</html>
