<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Massa Labs</title>
    <link rel="alternate" type="application/rss+xml" title="MassaLabs RSS" href="http://feeds.feedburner.com/MassaLabs" />
    <meta name="description" content="programming blog">
    <meta name="author" content="sean massa">

    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28089637-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Massa Labs</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/Presentations">Presentations</a></li>
            <li><a href="http://github.com/endangeredmassa">My Github</a></li>
            <li><a href="mailto:endangeredmassa@gmail.com">Contact</a></li>
            <li><a href="http://feeds.feedburner.com/MassaLabs">RSS</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="page-header">
          <em>You could be playing Skyrim right now.</em>
        </div>
        <div class="row">
          <div class="span12">
            {{ content }}
          </div>
          <div class="span4">
            <h3>About Me</h3>

            <a href="http://stackoverflow.com/users/106/endangeredmassa">
              <img src="http://stackoverflow.com/users/flair/106.png" width="208" height="58" alt="profile for EndangeredMassa at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for EndangeredMassa at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
            </a><br />
            <br />
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script src="/js/twitter_widget.js"></script>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Sean Massa 2012</p>
      </footer>
    </div>
  </body>
</html>

