<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Massa Labs</title>
    <meta name="description" content="programming blog">
    <meta name="author" content="sean massa">

    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" href="http://endangeredmassa.github.com/css/styles.css">

    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Massa Labs</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/Presentations">Presentations</a></li>
            <li><a href="http://github.com/endangeredmassa">My Github</a></li>
            <li><a href="mailto:endangeredmassa@gmail.com">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="content">
        <div class="page-header">
          <em>You could be playing Skyrim right now.</em>
        </div>
        <div class="row">
          <div class="span16">
            {{ content }}
          </div>
          <div class="span6">
            <h3>About Me</h3>

            <a href="http://stackoverflow.com/users/106/endangeredmassa">
              <img src="http://stackoverflow.com/users/flair/106.png" width="208" height="58" alt="profile for EndangeredMassa at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for EndangeredMassa at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
            </a><br />
            <br />
            <script src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script src="http://endangeredmassa.github.com/js/twitter_widget.js"></script>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Sean Massa 2011</p>
      </footer>

    </div>
  </body>
</html>

